<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
      <strong>I'm <a href="http://jevzelenkov.com">Jev Zelenkov</a></strong>, a web developer
      who makes open-source JavaScript projects. You're reading my
      <a href="{{ base }}">Today I learned</a> blog.
      <i class='fleuron'></i>
      Follow me on
      <a href="https://twitter.com/jevzee">Twitter</a> for web development opinions,
      <a href="https://github.com/jevzee">GitHub</a> for code, and
      <a href="https://instagram.com/jevzee">Instagram</a> for nice photos.
    </p>
    <h3 class='identity'><a href="http://jevzelenkov.com">@jevzee</a></h3>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='{{ base }}#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
